
<body style="background-color: #181818">
  <div style="margin: 20px;">
    <div class="col-sm-12" style="background-color: #181818;">
      
      <div id="contact">
        <div id="contactHeader" class="col-sm-12" style="margin-bottom: 20px">
          <h1 class="lead" style="color: white; font-size: 50px; margin: 0px">
            Contact
          </h1>   
          <div class="lead" style="color: #888888; margin-left: 20px">
            Get in touch with me if you like at <a href="mailto:LGDTemple@gmail.com">LGDTemple@gmail.com</a>
            <p>
            I'm always interested in collaborating on creative projects.
          </div>
        </div>

        <div class="lead col-sm-12" id="contactBody" style="color: #aaaaaa; margin-left: 20px; margin-bottom: 20px">
          Or find me on social media:
          <p>
          <a href="https://facebook.com/lawrencetemple">
            <img src="http://i.imgur.com/Bj2IPQ1.png" style="width: 100px">
          </a>
          <a href="http://linkedin.com/in/lawrencetemple">
            <img src="http://i.imgur.com/H0xvyIi.png" style="width: 100px">
          </a>
          <a href="http://instagram.com/ztary">
            <img src="http://i.imgur.com/IoJaksV.png" style="width: 100px">
          </a>
        </div>

        <div class="lead col-sm-12" style="color: #aaaaaa; margin-left: 20px; margin-top: 20px">
          And if you'd like an up to date copy of my resume you can find one <a href="https://drive.google.com/file/d/0BwvQZus3lR4UcFVJdFB0a3pDOUk/view?usp=sharing"> here</a>.
        </div>
      </div>
    </div>
  </div>
</body>