
<body style="background-color: #181818">
  <div style="margin: 20px;">
    <div class="col-sm-12" style="background-color: #181818;">
      
      <div id="contact">
        <div id="contactHeader" class="col-sm-12">
          <h1 class="lead" style="color: white; font-size: 50px; margin: 0px">
            Contact
          </h1>   
          <div class="lead" style="color: #888888; margin-left: 20px">
            Something about how to contact me
          </div>
        </div>
        <div id="contactBody">
          
        </div>
      </div>
    </div>
  </div>
</body>