<body style="background-color: #181818">
  <div class="" style="margin: 20px;">
    <div class=" col-md-12" style="background-color: #181818;">
      <h1 class="lead" style="color: white; font-size: 60px">
        Contact
      </h1>   
      <div class="col-sm-12 panel-group" id="accordion">
        <div class="panel" style="background-color: #181818;">
          
        </div>
      </div>
    </div>
  </div>
</body>