<html style="background-color: #181818">

<body style="background-color: #181818">
  <div class="container" style="margin-top: 20px;">
    <div id="spacer" class="col-md-2"></div>

    <div class="jumbotron col-md-8" style="background-color: #181818;">

      <h1 class="display-3 lead text-center" style="color: white; margin-bottom: 60px">
        Hey, I'm Lawrence
      </h1>
      
      <p class="lead" style="color: silver;">
        This will eventually be a CV / Portfolio
      </p>
      <hr class="my-2" style="margin-bottom: 80px;">
      
      <p class="lead" style="color: silver;">
        If you really need to get in contact with me you can reach me at <a href="mailto:lawrence.temple@mail.utoronto.ca">lawrence.temple@mail.utoronto.ca</a> or <a href="mailto:lgdtemple@gmail.com">lgdtemple@gmail.com</a>
      </p>
      <hr class="my-2" style="margin-bottom: 100px;">

      <img src="http://i.imgur.com/hXRD9oe.jpg" class="img-circle col-md-12" style="margin-bottom: 30px; width: 100%"></img>

    </div>

    <div id="spacer" class="col-md-2" ></div>
  </div>
</body>