<html style="background-color: #181818">

<body style="background-color: #181818">
  <div class="container" style="margin-top: 20px;">
    
    <div class="jumbotron col-md-7" style="background-color: #181818;">

      <h1 class="display-3 lead text-center" style="color: white; margin-bottom: 30px">
        Hey, I'm Lawrence
      </h1>
      <hr class="my-2" style="margin-bottom: 30px;">
      
      <div class="lead text-center" style="color: silver;"> 
        <div style="margin-bottom: 4px">
          I'm a Software Engineer based out of Toronto.
        </div>
        <div style="margin-bottom: 4px">
          I like <text style="font-style:italic">fast</text> and <text style="font-style:italic">good looking</text> things.
        </div>
        <div style="margin-bottom: 4px">
          Click around a bit. Take your time.
        </div>
        <div style="margin-bottom: 4px">
          I reccomend you start <a href="projects" style="font-style: italic">here</a>.
        </div>
      </div>
    
    </div>
    <div class="col-md-5" style="margin-top: 60px">
      <img src="http://i.imgur.com/Tl6PJNb.jpg" class="img-circle col-md-12" style="margin-bottom: 30px; width: 100%"></img>
    </div>

    <div id="spacer" class="col-md-2" ></div>
  </div>
</body>