<!DOCTYPE html>

<html>
  <head>
    <title>Lawrence Temple - Engineer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid" id="nav-container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>

          <div class="">
            <ul class="nav navbar-nav">
              <li>    
                <a class="navbar-brand" href="/" style="color:white;">Lawrence Temple</a>
              </li>
            </ul>
          </div>
        </div>
        
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">          
          <ul class="nav navbar-nav">

            <li class="nav-item projects">       
              <a href="projects" class="nav-link" >Projects</a>
            </li>

            <li class="nav-item experience">
              <a href="experience" class="nav-link" >Experience</a>
            </li>
            
            <li class="nav-item experience">
              <a href="hobbies" class="nav-link">Outside Engineering</a>
            </li>

            <li class="nav-item experience">
              <a href="contact" class="nav-link">Contact</a>
            </li>

          </ul>

          <ul class="nav navbar-nav pull-right">
          </ul>
        </div>
      </div>
    </nav>

    <%= yield %>
    
  <footer class="col-sm-12" style="text-align: center; color: gray; margin-top: 100px">
    <br>
    lots of love, lawrence © 2017
  </footer>

</html>
